<h1>Costume Name: <%= @costume.name %></h1>
    <img src="https://images.fun.com.au/products/33319/1-1/pirate-flag-fortune-teller-costume-for-women-update.jpg" alt="pirate" class="h-25 w-25">
<p>Description:<br><%= @costume.description %></p>
<h4>Price: $<%= @costume.price %></h4>
<h5>Owner: <%= @costume.user.username %></h5>
