<% if notice %>
  <div class="customize-notice alert-info alert-dismissible fade show m-1" role="alert">
    <button type="button" class="customize-notice" data-bs-dismiss="alert" aria-label="Close"><%= notice %></button>
  </div>
<% end %>
<% if alert %>
  <div class="alert alert-warning alert-dismissible fade show m-1" role="alert">
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    <%= alert %>
  </div>
<% end %>
