<div id="banner" class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://cdn.suwalls.com/wallpapers/minimalistic/pink-gradient-25217-1920x1080.jpg);">
  <div class="container">
    <h1>Come Out of the Closet</h1>
    <h2>Let your clothes show their true colours!</h2>
    <p>Hire a costume, suit or cosplay outfit.</p>
    <%= link_to "view all costumes", costumes_path, class: "btn-home" %>
    <%= link_to "upload a costume for hire", new_costume_path, class: "btn-home" %>
  </div>
</div>
