.lendboard {
  margin: 0 auto;
  width: 100%;
}

.lendboard h2 {
  text-align: center;
  font-size: 18px;
}

.lendboard h3 {
  text-align: center;
  font-size: 16px;
}

.booking-card {
  display: flex;
  width: 45%;
  justify-content: center;
  margin: 10px auto;
  border: 2px solid #fb6f92;
  border-radius: 10px;
  padding: 0;
  margin-bottom: 20px;
}

.booking-card img {
  border-radius: 10px 0 0 10px !important;
}

.costume-desc {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.costume-desc h4 {
  color: #fb6f92;
  font-weight: 700;
  margin-bottom: 10px;
}
