.edit {
  color: #fb6f92;
  font-weight: 600;
  // margin: 0 300px 20px 300px;
  text-align: left;
  width: 35%;
  margin: 0 auto;
  margin-top: 20px;
}

#edit_button {
margin: 30px auto;
padding: 10px 15px;
text-align: center;
font-weight: 700;
color: #fb6f92;
border: 2px solid #fb6f92;
border-radius: 5px;
width: 60%;
transition: all 0.15s;
display: block
}

#edit_button:hover {
color: white;
background-color: #fb6f92;
transform: scale(1.03);
}

.title {
margin-top: 30px;
}

.form-control {
border-radius: 5px;
}
