@import url('https://use.fontawesome.com/releases/v6.1.2/css/all.css');

.list-inline > li {
  display: inline-block;
  padding: 0px 15px;
}

.list-inline {
  list-style: none;
  text-align: center;
  margin: 0 auto;
  padding-top: 12px;
}

.footer {
  background-color: #EEE3E7;
  width: 100%;
  padding: 0;
  margin-top: auto;
  bottom: 0px;
  position: relative;
  clear: both;
  height: 75px;
}

.icons {
  font-size: 35px;
  color: #FB6F92;
  transition: all, 0.2s;
}

.icons:hover {
  color: white;
  transform: translateY(-0.2em);
}

.footer p {
  color: white;
  text-align: center;
}

// sdasdasd
