#password-h2 {
  margin-top: 30px;
  color: #fb6f92;
  font-weight: 700;
  text-align: center;
}

.help-user-pw {
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  height: 10%;
  width: 25%;
  justify-content: right;
}

.help-user-pw a {
  text-decoration: none;
  text-align: right;
  color: #fb6f92;
  margin: 7.5px;
}


.help-user-pw a:hover {
  text-decoration: underline;
  color: #fb6f92;
}

#password-submit {
  margin: 0 auto;
  width: 100%;
  text-align: center;
}

#password-submit .btn {
  margin: 10px auto;
  padding: 10px 15px;
  text-align: center;
  font-weight: 700;
  color: #fb6f92;
  border: 2px solid #fb6f92;
  width: 60%;
  transition: all 0.15s;
}

#password-submit .btn:hover {
  color: white;
  background-color: #fb6f92;
  transform: scale(1.04);
}
