.title {
  margin: 0 auto;
  margin-top: 50px;
  padding: 5px 20px;
  text-align: center;
  box-shadow: 1px 1px 1px lightgrey;
  font-weight: 700;
  color: #fb6f92;
  border: 1px solid #fb6f92;
  border-radius: 10px;
  width: 25%;
}

.title h3 {
  font-size: 18px;
}

.new_costume {
  width: 35%;
  margin: 0 auto;
  margin-top: 20px;
}
